* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.createNote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right top,rgba(7,28,45,255),rgba(7,28,45,255));
  );

}

.create-note{ 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 8px #0c052e;
}


.notes { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background: linear-gradient(to right top, rgba(1, 1, 68, 0.7),rgba(153, 204, 255, 0.3));
  width: 70%;
  border-radius: 2rem;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  box-shadow: 2px 4px #050214;
}

.noteslist {
  padding: 1rem;
  min-height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}


.noteform { 
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  );
  display: flex;
  flex: 2;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
}

h1 {
  font-family: 'Staatliches', cursive; 
  display: flex;
  align-items: flex-end;
  margin: 10px;
  margin-bottom: 120px;
  background: linear-gradient(to right top, rgba(0, 0, 128, 0.7),rgba(153, 204, 255, 0.3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 { 
  font-family: 'Staatliches', cursive; 
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit1 { 
  background-color: slateblue;
  padding: 0.5rem;
  border-radius: 2rem;
}

.shibu {   
  z-index: 1;
  background-image: url();
}

img {
  opacity: 0.5;
  height: 40rem;
  width: 65rem;
  position: relative;
  bottom: 5%;
  right: 35%;
}

.note { 
  color: white;
  background-color: magenta;
  padding: 2rem;
  border-radius: 2rem;
  background: linear-gradient(
    to right bottom,
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3)
  );
  box-shadow: 1px 2px #0c0629;

}
