<!DOCTYPE html>
<html>
  <head>
  <title>Noodle notes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <script src="../src/interface.js"></script>
  <script src="../src/displayNotes.js"></script>
  <script src="../src/storeNotes.js"></script>
  <script src="../src/emoji.js"></script>

  <link rel="stylesheet" href='../css/index.css'></link>
  </head>

  <body>
    <main>
      <div class="notes" id="main-pane">
        <div class="notesList" id="notesList">
          <h2>Note list</h2>
        </div>
          <div class="noteform" id ="notesPane">
            <h1> Notes App</h1>
            <div id="single-note-wrapper" hidden>
              <div class="full-note" id="single-note" ></div>
              <button class="submit" id="back-to-notes" type="button">Back to notes</button>
              <button class="submit" id="delete-note" type="button">Delete</button>
            </div>
            <form id="createNote" class="createNote"> 
              <textarea rows=23 cols=36 placeholder="New note..." id="writing"></textarea>
              <br>
                  <input class="submit" type="submit" value="Create note" name="submit" id="bigManButton"></input>
            </form>
          </div>
      </div>
      <div class="shibu">
        <img src="../images/shiba-inu-japanese-ramen-thumb.jpg"/>
      </div>
      <div class="circle1">
        <div class="noodles">
          <img src="../images/noodles3.png" alt="noodles!">
        </div>
      </div>
      <div class="circle2"></div>
    </main>
  </body>

</html>
