<!DOCTYPE html>
<html>
  <head>
  <title>Noodle notes</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" href='../css/index.css'></link>
  </head>

  <body>
    <main>
      <div class="notes">
        <div class="notesList" id="notesList">
          <h2>Note list</h2>
          <div class="note">This note is made up</div>
          <div class="note">Only 20 charachters </div>
          <div class="note">Noodles Noodles Nood</div>
          <div class="note">Note 4Note4NoteMoreN</div>
        </div>
          <div class="noteform">
            <h1> Notes App</h1>
            <form id="createNote" class="createNote">
              <textarea rows=25 cols=40 placeholder="New note..."></textarea>
              <br>
                  <input class="submit1" type="submit" value="Create note" name="submit"></input>
            </form>
          </div>
      </div>
      <div class="shibu">
        <img src="../images/shiba-inu-japanese-ramen-thumb.jpg"/>
      </div>
      <div class="circle1">
        <div class="noodles">
          <img src="../images/noodles3.png" alt="noodles!">
        </div>
      </div>
      <div class="circle2"></div>
    </main>
  </body>

</html>
