<!DOCTYPE html>
<html>
  <head>
  <title>Noodle notes</title>
  <script src="../src/interface.js"></script>
  <link rel="stylesheet" href='../css/index.css'></link>
  </head>

  <body>
    <main>
      <div class="notes">
        <div class="noteslist">
          <h2>Note list</h2>
        </div>
          <div class="noteform">
            <h1> Notes App</h1>
            <form id="createNote" class="createNote"> 
              <textarea rows=25 cols=40>New note...</textarea>
              <br>
                <div class="submit1">
                  <input type="submit" value="Create note" name="submit"></input>
                </div>
            </form>
          </div>
      </div>
    </main>  
  </body>

</html>